body {
    margin: 0px;
    padding: 0px;
    background-color: #1b203d;
    overflow: auto;
    /*Khi chiều cao của box không đủ chứa text, thì text bị tràn sẽ được dấu đi*/
    font-family: system-ui;
}

.clearfix {
    clear: both;
    /*khi sử dụng float cho A và B thì dùng clear both để xoá khoảng giữa còn trống*/
}

.logo {
    margin: 0px;
    margin-left: 28px;
    font-weight: bold;
    /*Văn bản nằm bên trong phần tử được in đậm*/
    color: white;
    margin-bottom: 30px;
    font-size: 36px;
}

.logo span {
    color: #f7403b;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    /*Fixed cũng hoạt động dựa vào một thẻ cha làm chuẩn bên ngoài. 
    Chỉ có khác một điều là đối với Fixed thì khi bạn scrolling thì nó sẽ nằm luôn trên màn hình ngay tại vị trí chuẩn đó 
    và đè lên trên các phần tử bên dưới.*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272c4a;
    overflow: hidden;
    /*Khi chiều cao của box không đủ chứa text, thì text bị tràn sẽ được dấu đi.*/
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 15px 8px 15px 32px;
    /*top bottom right left*/
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #1b203d;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
}

.head {
    padding: 20px;
}

.col-div-6 {
    width: 50%;
    float: left;
}

.profile {
    display: block;
    float: right;
    width: 120px;
}

.pro-img {
    float: left;
    width: 40px;
    margin-top: 5px;
}

.profile p {
    color: white;
    font-weight: 500;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 13.5px;
}

.profile p span {
    font-weight: 400;
    /*tô đậm*/
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}

.col-div-3 {
    width: 25%;
    float: left;
}

.nav {
    display: none;
}

.box {
    width: 85%;
    height: 100px;
    background-color: #272c4a;
    margin-left: 10px;
    padding: 10px;
}

.box p {
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
    /*các items sẽ được xếp cùng nhau trên một dòng nhưng vẫn set width, height, margin, padding đủ 4 hướng*/
}

.box p span {
    font-size: 20px;
    font-weight: 400;
    color: #818181;
}

.box-icon {
    font-size: 40px !important;
    /*độ ưu tiên trong cùng file css chứ không cần quan tâm các định nghĩa được viết sau.*/
    float: right;
    margin-top: 35px !important;
    color: #818181;
    padding-right: 10px;
}

.col-div-8 {
    width: 87%;
}

.content-box {
    padding: 20px;
}

.box-8 {
    margin-left: 281px;
    width: 95%;
}

table {
    border-collapse: collapse;
    /*Khoảng trống giữa các đường viền (border) của table bị loại bỏ, chỉ còn đường viền duy nhất.*/
    width: 100%;
}

td,
th {
    text-align: center;
    padding: 15px;
    color: #ddd;
    border-bottom: 1px solid #81818149;
}

@keyframes tb {
    from {
        top: -20%
    }
    to {
        top: 0%
    }
}

@keyframes tb_2 {
    from {
        top: 0%
    }
    to {
        top: -20%
    }
}

@keyframes navside {
    from {
        left: -300px
    }
    to {
        left: 0px
    }
}

@keyframes navside_2 {
    from {
        left: 0px
    }
    to {
        left: -300px
    }
}

@keyframes full {
    from {
        margin-left: 0px
    }
    to {
        margin-left: -300px
    }
}

@keyframes full_2 {
    from {
        margin-left: -300px
    }
    to {
        margin-left: 0px
    }
}

#boxtb a {
    text-decoration: none;
}

#boxtb a:hover {
    color: red;
}